<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="serv" value="solorsoft.com"/>
      <add key="port" value="3306"/>
      <add key="user" value="solorsof_root"/>
      <add key="pass" value="190969Sorol"/>
      <add key="data" value="solorsof_viza_fe"/>
      <add key="ConnectionLifeTime" value="300"/>
      <add key="srvtar" value="190.41.127.211"/>
      <add key="ptotar" value="3306"/>
      <add key="usrtar" value="root"/>
      <add key="pswtar" value="viza0847"/>
      <add key="bd_tar" value="solorsof_viza_fe" />
    </appSettings>
</configuration>